.item {
  display: flex;
  flex-direction: row;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.item:not(:last-child) {
  margin-bottom: 10px;
}
.text {
  margin: 0;
  margin-right: 10px;
}
.numb {
  margin: 0;
}
.btn {
  display: flex;
  cursor: pointer;
  height: 20px;
  background-color: red;
  border-radius: 5px;
  border: 1.5px solid;
  margin-left: 10px;
}
