.item {
  display: flex;
  flex-direction: row;
}
.item:not(:last-child) {
  margin-bottom: 10px;
}
.text {
  margin: 0;
  margin-right: 10px;
}
.numb {
  margin: 0;
  margin-right: 20px;
}
.btn {
  height: 20px;
}
