.header {
  text-align: center;
}
.form {
  display: flex;
  flex-direction: column;
  background-color: rgb(169, 169, 169);
  padding: 10px;
  border-radius: 5px;
  width: 300px;
  border: 2px solid;
  border-color: rgb(238, 94, 42);
  margin: 0 auto;
}
.link {
  text-decoration: none;
  color: aliceblue;
}
